/* https://www.redaction.us/ */
@font-face {
  font-family: 'Redaction 35';
  src: url('fonts/Redaction_35-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('fonts/Redaction_35-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Redaction 35';
  src: url('fonts/Redaction_35-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* https://github.com/stgiga/UnifontEX */
@font-face {
  font-family: 'unifont';
  src: url('fonts/UnifontExMono.woff2') format('woff2');
}

/* https://cinni.net/font */
/* @font-face {
  font-family: 'basiic';
  src: url('fonts/basiic.ttf') format('truetype');
} */
/* https://departuremono.com/ */
/* @font-face {
  font-family: 'Departure Mono';
  src: url('fonts/DepartureMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

pre {
  margin: 0;
}

body {
  background-color: #d9e5c9;
  font-family: 'Redaction 35', serif;
  image-rendering: pixelated;
  text-rendering: optimizeSpeed;
  color: #2f4f2f;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1vw;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Redaction 35', serif;
  font-style: italic;
}

section {
  padding-top: 1em;
  padding-bottom: 3ch;
}

code {
  font-family: 'unifont', monospace;
  color: #4b430e;
}

.pixelated {
  font-family: 'unifont', monospace;
}

a {
  color: #006400;
  text-decoration: underline;
}

footer {
  font-size: 0.8em;
  margin-top: 10ch;
}

.achievements-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.achievement-item {
  width: 150px;
  text-align: center;
}

.achievement-item img {
  width: 100%;
  border: 1px solid #2f4f2f;
}

/* https://maxbittker.github.io/broider/ */
.bottom-wave {
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAAXNSR0IArs4c6QAAAI9JREFUWEft0sEJgDAQRNGkIquxCuuxCquxIsWDFyGQbD7Cws9ZxsnL1JLk1CQ9i0Xpl1JUUVqAznOjitICdJ4bVZQWoPPcqKK0AJ3nRhWlBeg8N6ooLUDnuVFFaQE6z40qSgvQeeGNrttyPWWO/QxnjFwm/JM0RV+N3sK937WUw6Lpin4Lt0Rmtzwt+lfRG+vIICtVdm8fAAAAAElFTkSuQmCC") 14 / 14px / 0 round;
  border-width: 14px;
  image-rendering: pixelated;
  border-style: solid;
}

.leaves {
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAAXNSR0IArs4c6QAAAYRJREFUWEfdmMEVwiAQRE1FVmMV1mMVVmNF+jyQw8Z5fxYID/QWCewwzO4O2S6dfrf79f1rqefjtfUI0WWRL5BhQGsDlXmFOXpW7FL8nVF6kQIMBxo1FRmKgInB7Pyyfpx3YHRZoGqHSirlfdpwlmlkdDqgChABVcxR7VT1VTF9qKPqRUqauKHTgbYySxtS40rb5X/ZmWqZHQ5UHWUvTVLWR+lgr49laDqgBJCSxR1346BGSeQuIPIKFEeakmgyYqBan6kYJFO0DlDKPio32aN3y16sOttyQLPM9NKoG3dn1J1A2UnrkD1U8+XRZ7VEALMuzNbodEDJnql62lujFMe+hbqtjiRAhV3FWa+FRiZ6MZhlWEkKbZ7r+AkQ2UPS/PpAyeW4n3Bcr0CtPJ1MFDg7TtKSlzvamdsCa7+UNN/rqTGQsSamidnmTzqUzWoD7smV9f8HaHbn7hHTUcd1kNFpgVJSqFbr1lX32hwNuu2eKMAwoNSraZzsG82ncbvX00JnA/0AVoDj3UhpAEMAAAAASUVORK5CYII=") 14 / 14px / 0 round;
  border-width: 28px;
  image-rendering: pixelated;
  border-style: solid;
}

.sign {
  font-family: 'unifont', monospace;
  border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAAXNSR0IArs4c6QAAANdJREFUWEftmFEOgzAMQ9edbefY4TjHzsb4oRMyimJXQqST+SuKivtwLEh7wPV+Pb9474r18lmbsu+puLzQLrCfFNfK6Zladf8f0WmFdirqyRmaxxp2/5BoWaEoDMmoXcqSlYlOJzTK1XJELTQw7bBHTdREdwKsh9jcHLVW+qlloeIbM1HWs6y1TNREIwKsh1iCzlETdeCLIxi2uVhrOfBN1IGfeMDNxDYJWxcNjnEyUyaesqFcGaFIEL37P0LvGujKRKcTmg162S5n6+Suj34d2AeO1qHQDQs6YDqSjvQoAAAAAElFTkSuQmCC") 14 / 14px / 0 round;
  border-width: 14px;
  border-style: solid;
  padding: 1ch;
  display: inline-block;
}